![image.png]()
**Machine Learning with Python MAJOR PROJECT**


---


BY
                **S ASIF ALI**

**INTRODUCTION**


>  Building the Banking Behavioural Scorecard Machine Learning model
with "PYTHON".It is used to predict whether the customer is defaulter on his EMI payment or not.






---

# Machine Learning Model

In [ ]:
#Importing Libraries which are required for my model
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
import scipy.stats
from google.colab import drive
from sklearn.model_selection import train_test_split

**Exploratory Data Analaysis**

**Reading the datasets**


*   The pandas libarary is used to read csv files.
*   There are 2 datasets named Train and Test csv files which I am using in my model.
*   Below is the code for it.

In [ ]:
data_train = pd.read_csv('/content/drive/MyDrive/Data set/Train.csv')
data_test = pd.read_csv('/content/drive/MyDrive/Data set/Test.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (746,835) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

**Shape of data**

*   From below code we can see that how many rows and cloumns present in our data set.
*   "Shape" fuction is used to see that.

In [ ]:
data_train.shape,data_test.shape

((17521, 2395), (20442, 2394))

**Data Type of features**

*  we can see the data types of each feature of our dataset.
*  For further processing the data we need to drop the features which contains "object" data type because those features are not required to predition.
*  "col1" in both train and test data sets has "object" datatype.

---

In [ ]:
print(data_train.dtypes)
print(data_test.dtypes)

Col1        object
Col2         int64
Col3       float64
Col4       float64
Col5       float64
            ...
Col2393    float64
Col2394    float64
Col2395    float64
Col2396    float64
Col2397    float64
Length: 2395, dtype: object
Col1        object
Col3       float64
Col4       float64
Col5       float64
Col6       float64
            ...
Col2393    float64
Col2394    float64
Col2395    float64
Col2396    float64
Col2397    float64
Length: 2394, dtype: object



**Displaying few rows and columns**

In [ ]:
data_train.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [ ]:
data_test.head()

,Col1,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGD58ZWD,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,...,0,0,0,0,44.0,44.0,23.0,41.0,41.0,36.0
1,RIH660YDS,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,...,1,1,2,2,1234.0,1234.0,680.0,154.0,153.0,86.0
2,RIH660Q96,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,...,0,0,0,0,33.0,24.0,19.0,3.0,1.0,1.0
3,RIYDO15W1,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,...,0,0,0,0,8.0,8.0,3.0,7.0,7.0,3.0
4,RIYBGC1ZD,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,...,0,0,0,0,7.0,7.0,7.0,6.0,6.0,5.0



*  As we can see that column "col1" has unique values in both datasets such that we can say feature is not required for model predition.
*     As already mentioned in the project the column "col2" is Target feature for analyzing further in model I am droping it for now.


---



*   Using drop function I have droped the features 'col1' in both datasets and 'col2' in train dataset.
*  Then Assigned Train dataset to variable "X".
* I have Stored "col2" column in "Y" variable for further use.
*  Test dataset to variable "Xtest".

In [ ]:
X = data_train.drop(['Col1','Col2'], axis=1)
y = data_train.Col2

XTest = data_test.drop(['Col1'], axis=1)

In [ ]:
y.value_counts(normalize=True) * 100

0    89.949204
1    10.050796
Name: Col2, dtype: float64

**Comparing both datasets**


*   Checking whether the datasets having same entries and datatypes

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2393 entries, Col3 to Col2397
dtypes: float64(844), int64(1547), object(2)
memory usage: 319.9+ MB

In [ ]:
XTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20442 entries, 0 to 20441
Columns: 2393 entries, Col3 to Col2397
dtypes: float64(837), int64(1545), object(11)
memory usage: 373.2+ MB



*   From above we can see that something is wrong
*   In  Train dataset there are only 2 object values where as Test dataset it contains 11 object values.
*Ideally we know that both Train amd Test datasets should contain features with same data types.

**Now let us see in what columns the objects are present**

In [ ]:
# Object values in "Train" dataset
for col in X.select_dtypes('object').columns:
    print(col)
    print(X[col].unique())
    print("--------------------------------------------------------------------\n")

Col747
[nan '-' '0' '1' 0.0 5.0 '3']
--------------------------------------------------------------------

Col836
[nan '-' '0' 0.0 '5']
--------------------------------------------------------------------

In [ ]:
# Object values in "Test" Dataset
for col in X.select_dtypes('object').columns:
    print(col)
    print(X[col].unique())
    print("--------------------------------------------------------------------\n")

Col702
[nan 0.0 '0' '-']
--------------------------------------------------------------------

Col733
[nan 0.349927106 0.23489684 0.2387925689999999 0.326225572
 -0.2099562639999999 0.0699854209999999 0.283473355 0.100574803
 -0.094491118 0.43723953 0.0 0.482371579 -0.223606798 -0.2309364019999999
 -0.287181807 0.365962527 0.188982237 -0.005459133 0.350883835
 -0.1223531269999999 0.203411286 -0.124833495 -1.11e-17 0.069161739
 0.2099562639999999 0.223606798 0.4902332889999999 0.3684670879999999 0.6
 -0.2 0.111762013 0.461541869 -5.55e-18 0.267600457 0.356890822 -0.6
 -3.97e-18 -0.120203624 0.2 0.447213596 0.338943084 -0.164954156
 0.399347441 0.039904182 -0.42405191 0.356429936 0.094491118 0.428811668
 -0.0699854209999999 0.456012469 -0.063718173 -0.188982237 -0.129791319
 -0.147929864 0.13703048 -0.216598788 0.3851774129999999 0.385473461
 0.401123362 0.4426266679999999 0.013413513 -0.582413089 0.154402328
 0.206839799 -0.221745896 -0.600004941 -0.565007326 -0.0003611359999999
 -0.6890215609999999 0.518592677 -0.43511375 0.221432627
 0.2456518419999999 -0.575288225 0.721829742 0.162276563 0.374512042
 -0.447213595 0.451753952 -0.225152158 0.310214176 0.242267199 0.444822876
 0.4427928129999999 0.2193360389999999 0.004476371 -0.073018717
 -0.1220932769999999 0.2213133339999999 0.4008918629999999 0.436383681
 0.353779421 -0.189821657 -0.088958083 0.371403294 0.346410162
 0.1646831369999999 0.62543405 0.490281585 -0.258962403 0.2265829869999999
 -0.230108124 0.196581305 0.022535721 -0.054852857 -0.227993101
 0.418335577 -0.02756296 -0.121201531 0.111510125 0.4528430539999999
 0.5477225579999999 0.177337966 0.492150755 -0.277709693 0.189799158
 0.282758635 0.408258145 -0.058424578 0.168424834 -0.212475841 0.344137412
 0.149708389 0.146671727 0.173634762 0.349569327 -0.063921486 -0.156702348
 -0.138341135 0.150926773 0.359094139 0.124795216 -0.041725071 0.469476478
 0.506661965 -0.229534318 0.446132095 -0.225366519 0.130876664 0.489897949
 0.692820323 0.565673965 0.553748659 0.455507424 0.415391192 0.441540827
 0.417917455 0.3063629519999999 -0.096257884 0.358025184 '0.223606798'
 '-0.06998542099999999' '0.734026686' '-0.2' '-0.099085423' '0.447213596'
 '0.15511161' '-' '0' '5' '1' '0.0' '7']
--------------------------------------------------------------------

Col742
['0' nan '-' '1' '3' '7' '0.305620332' '0.349927106' '0.447213596'
 '0.205395959' '-0.2' '0.223606798' 0.223606798 -0.2099562639999999
 -0.122938478 -0.0699854209999999 -0.283473355 0.2099562639999999
 -0.136930639 -0.188982237 3.97e-18 0.349927106 -0.349927106 -0.447213595
 -0.6 0.0699854209999999 0.402603716 0.188982237 -0.076696499
 0.5606419979999999 -0.223606798 0.094491118 -0.094491118 -0.2
 -0.2154317589999999 -0.007523264 -0.19931998 -0.226960325 -3.97e-18
 -0.231311001 0.447213596 0.6 -0.554105809 0.579500557 -0.1768931889999999
 0.2 0.1646405209999999 0.16776615 0.0 -1.11e-17 -0.211671968 -0.037986859
 -0.2213133339999999 0.331970001 0.283473355 -0.365962527
 0.0731925059999999 -0.017498297 -0.397652424 -0.15262449
 -0.1248375569999999 -0.375643277 -6.34e-18 -0.093659379 -0.029186341
 0.067960309 0.347415301 -0.182574186 0.02998002 -0.287494454 -0.450341001
 0.018196863 -0.194166363 0.346498814 -0.4426266679999999 -0.155632306
 0.041226318 -0.1868665739999999 0.220384484 0.365962527 -0.073192505
 0.315408052 -0.081467785 0.20734176 -0.124832824 0.002257594 -0.114875814
 -0.104944245 -0.234149366 0.097267035 -0.150610086 1.11e-17 -0.659735063
 -0.238735071 -0.5477225579999999 -0.734846923 0.0382400129999999 5.55e-18
 0.475040067]
--------------------------------------------------------------------

Col754
[nan 0.255550626 0.0 0.12995089 0.109986363 0.185576872 -0.209898855
 0.0699854209999999 0.159719141 -0.001457966 -0.13122268 0.040406103
 -7.93e-18 0.49481681 -0.223606741 -0.229849969 0.233550383 0.246248152
 0.131222665 -0.223606798 -0.375290496 -0.136507119 -0.052743795
 -0.217642129 -1.11e-17 0.165375297 0.2099562639999999 0.223606814
 -0.094491361 -0.0299189429999999 0.380055619 0.223606798 0.141421356
 -0.199999983 0.143624108 0.289577449 0.057140606 -0.099999999 0.194040438
 0.057735027 0.193081132 -0.6 3.97e-18 -0.153186077 -2.73e-08 0.447213608
 -0.101577553 0.131223026 0.1312226719999999 0.0501941709999999 0.14580145
 -0.199999922 0.223606744 -0.223606799 0.3 0.138646785 0.1811406519999999
 0.1146406869999999 -0.6964965240000001 0.421185266 0.131222458
 0.070710678 -0.131090431 -0.127775312 0.451888684 -0.098668689
 0.1312226759999999 -0.3 -0.188982231 0.145802961 0.068942204 0.131222668
 0.349927106 -0.330056636 0.254824196 -0.1 -0.255550626 -0.2 0.127775312
 0.1999999989999999 -0.057142857 -0.166047866 0.405486387 -0.001940278
 0.298170133 0.350947558 0.1 -0.094904459 0.218704435 0.080812204
 0.058321185 -0.066436405 0.166852747 0.039700553 -0.692820323 0.173206903
 0.6 -0.600010001 -0.552004404 -0.010453782 -0.67966168 0.3839335279999999
 -0.113492065 0.013320486 0.105960894 -0.421381165 -0.390197011
 -0.1949431639999999 0.071428571 -0.094491118 -0.069985445 -0.063887656
 -0.131222453 0.386359757 0.031943828 -0.188982234 -0.3464101579999999
 -0.2187044389999999 -0.447213596 0.472842271 -0.005747588 0.092788436
 -0.0012776439999999 0.339417751 0.296479211 -0.556013633 -0.043739887
 0.162165679 -0.067285409 0.324642883 0.288675133 -0.196748986 0.223606797
 0.239009243 0.283473355 0.373315794 -0.1312227319999999 0.425448622
 0.283472145 0.131808223 0.358578034 0.009803556 -0.306097311 0.346410162
 -0.0536887329999999 0.223606771 0.207634884 0.4152538389999999
 0.218687164 -0.1130056419999999 0.10714421 0.722359427 0.218704428
 0.604115999 0.0798595679999999 0.188589872 0.159719133
 -0.0944911119999999 0.094491121 0.299999998 0.189289535 -0.131222664
 -0.065990722 -0.223604406 0.218704453 0.131222664 -0.312846525 0.03168801
 0.108248334 -0.133071912 6.34e-18 -0.237017268 0.550576821
 0.2187044289999999 0.080757012 -0.0697437529999999 -0.128239321
 0.043740942 0.461880216 0.051295197 0.285714286 0.218704447 0.349927366
 0.2 0.255550617 -0.218704447 0.043740887 0.416016597 0.464224494
 -0.0927909419999999 -0.164957229 -0.036379371 -0.10222025
 0.1037526769999999 0.065947029 0.025253814 0.21429761 0.240170637
 0.283473535 0.234382973 -0.0732564959999999 -0.219069077 0.074673276
 -0.06684286 0.34992708 0.188980898 0.188982236 0.33691136
 -0.1000000009999999 2.53e-08 -0.12777531 0.28333797 -0.114285715
 -0.199999488 0.366046092 -0.093631335 -0.127598215 -0.194360455
 0.429171836 0.095831456 0.111846834 -3.97e-18 -0.025253814 -0.22360702
 0.043740108 0.0437408679999999 0.16613683 0.0437409909999999 0.209037071
 0.274624523 0.2025992039999999 0.299999946 0.256059871 0.447213635
 0.487819332 0.364479774 0.297902104 0.515483 -0.300876702
 -0.0699854209999999 0.26747405 -0.3069746869999999 0.190038669
 0.486743494 -0.100009215 -0.141421356 0.3788367279999999 0.067324969
 -0.2099562639999999 0.114285724 0.183017871 0.563771675
 0.1627283659999999 0.409904167 0.140881406 0.178885438 0.255550703
 0.2349837619999999 0.339288936 -0.298363457 0.127775314 -0.25555063
 -0.2472631639999999 '0.0' '0.1' '-0.127775313' '-0.67291248'
 '-0.200000055' '-0.2' '-0.13399376300000002' '0.300000004'
 '0.15326104699999998' '-0.127775316' '-' '0' '2' '1' '6' '4']
--------------------------------------------------------------------

Col763
['0' nan '-' '1' '0.326166446' '0.255548809' '0.447213596' '0.214222192'
 '-0.19999999300000001' '0.1' 0.0 0.223606531 -0.255550632 -0.228996851
 -0.0699854209999999 -0.291605922 -0.131965775 -0.283473354 0.127775313
 -0.016694786 -0.188982225 -0.107142857 0.349927107 0.349927106
 -0.349927106 0.223606798 -0.447213594 -0.6 -0.447213596
 0.0699854209999999 -0.188982236 -0.283473355 0.446235617 -0.188982237
 -0.342857143 0.188982237 -0.143747227 0.069985422 0.332215814
 -0.285714286 -0.200261591 -0.255550576 -0.447213595 -0.349927111
 -0.255550626 0.343375854 0.223606794 -0.131965777 -0.300000002 -0.3
 -0.2099562639999999 0.1607142869999999 0.209956261 0.2099562639999999
 -0.094491118 -0.10222025 -0.199999992 -0.127775313 0.099999845
 -0.159008126 -0.223606798 -0.228878618 -0.2406456089999999 -0.281105689
 -0.294338033 -0.043740886 -0.357770876 -0.228571429 0.142290492
 -0.057142857 -0.282842712 -0.35 0.2236067999999999 -0.303899303 0.3
 0.600000002 -0.204440501 -0.560082407 -6.34e-18 0.579970856 -0.141421356
 0.255550626 -0.091386794 0.2 -0.131222667 -0.188982238 -0.277025626
 -0.255550624 -0.085714286 -0.6000000010000001 0.003924003 0.6 -0.20534955
 -0.188982226 -0.4472135889999999 0.282842713 -0.332215814 -0.209956265
 0.094491118 1.11e-17 -1.11e-17 -0.22012065 -0.34641015 0.1 0.447213595
 -0.346410161 -0.131222725 -0.069985424 -0.031466041 -0.209956267
 -0.200000001 -0.2 -0.255255593 -0.283473352 0.369607508 0.218704441
 -0.197948664 0.080812204 -0.404145188 0.447213591 -0.349927107
 -0.218704421 0.447213596 -0.349927104 -0.173205081 -0.349927105
 -0.265072579 -0.115470056 -0.043740888 -0.131222668 -0.299999985
 -0.200000043 -0.1076277369999999 0.21870444 -0.283473343 -0.306660751
 0.114765758 0.131222664 -0.26244533 0.196428571 -0.281105688 -0.126269068
 -0.346410163 -0.3499271089999999 -0.175691055 -0.069985423 -0.255550577
 0.188982238 0.283473355 -0.398423757 -0.166972894 -0.45 6.34e-18
 -0.087481777 -0.2187044389999999 -0.349927125 -0.098974354 0.039906528
 -0.4472136129999999 -0.218704441 -0.145802963 -0.4426266679999999
 0.011536323 -0.128111647 -0.171428571 -0.274866179 -0.271522539
 0.349999999 1.9800000000000002e-18 -0.159719141 -0.5999999979999999
 -0.27152254 0.03182277 -0.153330376 0.3496944279999999 -0.183224904
 -0.144337567 -0.349927092 -0.4242640689999999 0.131222663
 -0.0322452779999999 0.346410161 -1.9800000000000002e-18 -0.349927108
 -0.4472135929999999 -0.281367877 0.0437408929999999 -0.447213581
 0.447213597 0.017857143 -0.043740899 -0.691386825 -0.218704443
 0.135984727 -0.032991444 -0.191662969 -0.306894069 0.255550627
 -0.175432608 -0.178571433 0.094491115 0.255550625 -0.4472136029999999
 -0.209956263 0.126037289 -0.404145187 0.223606797 0.209956258
 -0.412754535 -0.300000001 0.043740888 -0.058321186 -0.230940108
 0.230940105 0.461880216 0.159719138 -0.13122265 -0.248017361 -0.141519189
 -0.018672721 -0.015971914 -0.094491119 -0.153033723 0.132415981
 -0.209956125 0.043740887 -0.218704437 0.365183575 0.188982231 0.188982205
 -0.25555062 3.97e-18 -0.132040286 0.0798595709999999 0.346788969
 -0.131222665 0.04374089 0.094491114 -0.256187313 0.219660486 -0.120311355
 -0.1 -0.255550628 -0.209956253 -0.126756194 -0.094491225 -0.043740885
 0.047765595 0.173205083 0.28347348 -0.18954385 -0.209956245
 -0.0437408929999999 -0.255550622 -0.276296579 -0.15 0.204440501
 -0.349927096 0.131222668 -0.234525934 -0.043740889 -0.196428571 -1.27e-17
 0.171428572 -0.224019786 0.349927088 -0.313897337 -0.447213601
 -0.3499271029999999 -0.223606778 -0.20882466 0.4472135999999999
 -0.338690657 0.45 -0.67606938 -0.223606797 0.057142857 0.15 -0.16900008
 -0.080812254 0.230940108 -0.5551777729999999 -0.0706973759999999
 0.34641016 -0.593462811 -0.008106155 -0.05 0.4041451889999999 0.542348323]
--------------------------------------------------------------------

Col791
[nan '0' '-' 0.0]
--------------------------------------------------------------------

Col813
[nan '-' 0.0]
--------------------------------------------------------------------

Col822
[nan 0.349927106 0.23489684 0.2395628669999999 0.400694318
 -0.2099562639999999 0.0699854209999999 -0.102382484 0.43723953
 -0.0699854209999999 0.482371579 -0.223606798 -0.2309364019999999
 -0.287181807 0.4426266679999999 0.2099562639999999 -0.005459133
 0.350883835 -0.1223531269999999 0.16265401 -0.124833495 0.0 0.069161739
 0.223606798 0.4902332889999999 0.3684670879999999 0.6 -0.2 0.083253074
 0.461541869 0.267600457 0.356890822 -0.6 -0.120203624 0.2 0.447213596
 0.1138647709999999 0.338943084 -0.164954156 0.399347441 -0.118367822
 -0.42405191 0.410778246 0.481194381 0.456012469 -0.063718173 -0.349927106
 -0.129791319 -0.147929864 0.13703048 -0.216598788 0.3851774129999999
 0.383395542 0.420777577 0.013413513 -0.582413089 0.067713152 0.206839799
 -0.221745896 1.11e-17 -0.600004941 -0.565007326 -0.0003611359999999
 -0.6890215609999999 0.518592677 -0.43511375 0.221432627 0.264520028
 -0.575288225 0.721829742 0.162276563 0.374512042 -0.447213595 0.451753952
 -0.225152158 0.374413459 0.2309809289999999 0.525417737
 0.4427928129999999 0.2193360389999999 -0.065321226 -0.197282777
 -0.30744352 0.2213133339999999 0.469476478 0.436383681 0.373613994
 -0.3767510839999999 -0.249153341 0.371403294 0.346410162 0.07360772
 0.62543405 0.490281585 -0.258962403 0.167270695 -0.472438504 0.196581305
 0.022535721 -0.197497145 -0.44864875 0.45175395 -0.13298233 -0.121201531
 0.088775205 -5.55e-18 0.4528430539999999 0.5477225579999999
 0.0519041159999999 0.492150755 -0.277709693 0.159159628 0.347859255
 0.4545888279999999 -0.2027175439999999 0.163183313 0.311573088 0.07790271
 -0.322246648 0.173634762 0.428300912 -0.228416096 -0.328803164
 -0.3920413929999999 -0.017524828 0.41113783 0.124795216 -0.041725071
 0.506661965 -0.229534318 0.446132095 -0.225366519 0.130876664 0.489897949
 0.692820323 0.565673965 0.553748659 0.455507424 0.415391192 0.441540827
 0.417917455 0.3063629519999999 -0.096257884 0.358025184 '0.223606798'
 '-0.06998542099999999' '0.734026686' '-0.2' '-0.099085423' '0.447213596'
 '0.15511161' '-' '0' '1' '5' '0.0']
--------------------------------------------------------------------

Col831
['0' nan '-' '1' '0.305620332' '0.349927106' '0.447213596' '0.205395959'
 '-0.2' '0.223606798' 0.223606798 -0.2099562639999999 -0.122938478
 -0.0699854209999999 0.2099562639999999 -0.136930639 -0.349927106
 0.349927106 -0.447213595 -0.6 0.0699854209999999 0.402603716 -0.076696499
 0.5606419979999999 -0.223606798 -0.2 -0.2154317589999999 -0.19931998
 -0.094368323 -0.500396954 0.447213596 0.6 -0.554105809 0.579500557
 -0.1768931889999999 0.2 0.14312243 0.16776615 0.0 -5.55e-18 -0.211671968
 -0.149224801 -0.2213133339999999 0.331970001 -9.52e-18 -0.017498297
 -0.397652424 -0.15262449 -0.1248375569999999 -0.375643277 -6.34e-18
 -0.20899904 0.01327184 0.347415301 -0.182574186 0.02998002 -0.450341001
 0.018196863 -0.194166363 0.346498814 -0.4426266679999999 -0.155632306
 -0.041838285 -0.377955797 0.159682534 0.4426266679999999
 0.3365770039999999 -0.081467785 0.20734176 -0.124832824 0.002257594
 -0.305272986 -0.229966764 -0.234149366 0.097267035 -0.150610086 -1.11e-17
 -0.659735063 -0.238735071 5.55e-18 -0.5477225579999999 -0.734846923
 0.0382400129999999 0.475040067 1.11e-17]
--------------------------------------------------------------------

Col843
[nan 0.255550626 0.0 0.12995089 0.175978183 0.296922995 -0.209898855
 0.0699854209999999 -0.447010279 -0.209956267 0.040406103 -0.06998542
 0.49481681 -0.223606741 -0.229849969 0.233550383 0.393997043
 0.2099562639999999 -0.223606798 -0.375290496 -0.136507119 -0.247431373
 -0.217642129 0.165375297 0.223606814 -0.209956035 -0.0299189429999999
 0.380055619 0.223606798 0.141421356 -0.199999983 0.106219251 0.289577449
 0.057140606 -0.099999999 0.194040438 0.057735027 0.193081132 -0.6
 -0.069985419 -0.153186077 -2.73e-08 0.447213608 -0.256986263
 0.2099564589999999 0.0501941709999999 0.127775215 -0.199999922
 0.223606744 -0.223606799 0.3 0.138646785 0.1811406519999999
 0.1834250989999999 -0.6964965240000001 0.4773644929999999 0.127774575
 0.070710678 -0.20974469 -0.127775312 0.451888684 -0.098668689 0.209956282
 -0.3 -0.349927116 0.127775313 0.068942204 0.209956263 0.349927106
 -0.330056636 0.254824196 -0.1 -0.255550626 -0.2 0.127775312
 0.1999999989999999 -0.057142857 -0.166047866 0.405486387 -0.450505381
 0.285398471 0.350947558 0.1 -0.094904459 0.349927108 0.080812204
 -0.066436405 -0.132830346 0.039700553 -0.692820323 0.173206903 0.6
 -0.600010001 -0.552004404 -0.010453782 -0.67966168 0.3839335279999999
 -0.113492065 0.013320486 0.16953777 -0.421381165 -0.390197011
 -0.1949431639999999 0.114285714 -0.2099562639999999 -0.069985445
 -0.171428577 -0.20995627 0.386359757 -0.34992711 -0.3464101579999999
 -0.349927106 -0.447213596 0.472842271 -0.005747588 0.148461498
 -0.0020442439999999 0.3857554529999999 0.296479211 -0.556013633
 -0.069983819 0.135496212 -0.192562697 0.398814314 0.288675133 -0.43568938
 0.223606797 0.239009243 0.429036151 -0.209956295 0.425448622 0.349927809
 0.131808223 0.387122571 0.01568569 -0.489755697 -0.209956268 0.346410162
 -0.0699854209999999 -0.0536887329999999 0.223606771 0.2
 0.4152538389999999 0.34989819 -0.180809028 0.171430736 0.722359427
 0.349927102 0.604115999 0.127775308 0.188589872 0.255550613 -0.20995624
 0.069985419 0.299999998 0.210452697 -0.209956554 -0.105585156
 -0.223604406 0.3499271089999999 -0.500554284 0.03168801 0.108248334
 -0.21291506 -0.379227649 0.550576821 0.129211464 -0.111590177
 -0.128239321 0.069985437 0.461880216 0.082072313 0.285714286 0.34992707
 0.349927366 0.255550617 -0.349927104 1.11e-17 0.416016597 0.464224494
 -0.148465506 -0.164957229 -0.036379371 -0.10222025 0.1037526769999999
 -0.000716277 0.040406102 0.161624407 -0.032344349 0.349925937 0.170806016
 -0.11721042 0.349927107 0.119477242 -0.106948575 0.34992708 0.209954776
 0.335937624 -0.1000000009999999 2.53e-08 -0.12777531 0.349895105
 -0.114285715 -0.199999488 0.442753079 -0.214047986 -0.204157143
 -0.310976727 0.4734175379999999 0.349927105 0.057142853 -0.355164002
 -0.040406102 -0.22360702 -0.0699826009999999 0.069982449 0.069985424
 0.265818928 0.06998544 0.334459313 0.439399221 0.2025992039999999
 0.299999946 0.256059871 0.447213635 0.487819332 0.364479774 0.297902104
 0.515483 -0.300876702 0.26747405 -0.3069746869999999 0.190038669
 0.486743494 -0.100009215 -0.141421356 0.3788367279999999 0.067324969
 0.114285724 0.183017871 0.563771675 0.1627283659999999 0.409904167
 0.140881406 0.178885438 0.255550703 0.2349837619999999 0.339288936
 -0.298363457 0.127775314 -0.25555063 -0.2472631639999999 '0.0' '0.1'
 '-0.127775313' '-0.67291248' '-0.200000055' '-0.2' '-0.13399376300000002'
 '0.300000004' '0.15326104699999998' '-0.127775316' '-' '0' '2' '1' '6']
--------------------------------------------------------------------

Col852
['0' nan '-' '6' 0.0 '0.326166446' '0.255548809' '0.447213596'
 '0.214222192' '-0.19999999300000001' '0.1' 0.223606531 -0.255550632
 -0.228996851 -0.0699854209999999 -0.131965775 0.127775313 -0.016694786
 -0.349926977 -0.171428571 0.349927107 0.349927106 -0.349927106
 0.223606798 -0.447213594 -0.6 -0.447213596 0.0699854209999999 0.446235617
 -0.342857143 0.2099562639999999 -0.285714287 0.069985422 0.332215814
 -0.285714286 -0.200261591 -0.255550576 -0.447213595 -0.349927111
 -0.255550626 0.343375854 0.223606794 -0.131965777 -0.300000002 -0.3
 -0.2099562639999999 -0.349927105 0.164957228 0.209956261 -0.10222025
 -0.199999992 -0.127775313 0.099999845 -0.159008126 -0.223606798
 -0.2406456089999999 -0.281105689 -0.357770876 -0.228571429 0.10448033
 -0.057142857 -0.282842712 -0.35 0.2236067999999999 -0.486238894 0.3
 0.600000002 -0.204440501 -0.560082407 -6.34e-18 0.579970856 -0.141421356
 0.255550626 -0.091386794 0.2 -0.349927035 -0.255550624 -0.085714286
 -0.6000000010000001 0.006278408 0.6 -0.20534955 -0.34992711
 -0.4472135889999999 0.282842713 -0.332215814 -0.209956265 -5.55e-18
 -0.22012065 -0.34641015 0.1 0.447213595 -0.346410161 -0.20995628
 -0.069985424 -0.050345665 -0.209956267 -0.200000001 -0.2 -0.255255593
 0.369607508 -0.197948664 0.080812204 -0.404145188 0.447213591
 -0.349927107 -0.349927096 0.447213596 -0.349927104 -0.173205081
 -0.281105687 -0.115470056 -0.209956263 -0.299999985 -0.200000043
 -0.172204378 -0.306660751 0.114765758 0.314285714 -0.281105688
 -0.346410163 -0.3499271089999999 -0.069985423 -0.255550577 0.209956262
 -0.398423757 -0.166972894 -0.45 -0.349927125 -0.098974354 0.039906528
 -0.4472136129999999 -0.4426266679999999 0.011536323 -0.204978634
 0.349926991 0.349999999 6.34e-18 -0.314285714 -0.5999999979999999
 -0.078317505 -0.153330376 0.3496944279999999 -0.183224904 -0.230940108

**Cleaning The Data**


*  For a Machine learning model if the datasets consist object data type we should remove it.Because it leads to errors while prediction.
*   As well as if there are negative values they also leads to errors while prediction.


---
* So, I am converting the string Values into "Float".
* And negative values with "NAN".
* For Doing that I have Created user defined function and created list and stored the features which have object values.
*Then using the for loop changed them into required way.

In [ ]:
def convert_to_float(row):
    if row == '-':
        return np.nan
    else:
        return float(row)

In [ ]:
#Displaying the column which contain object values
columns_to_change = list(X.select_dtypes('object').columns) + list(XTest.select_dtypes('object').columns)
print(len(columns_to_change))
print(columns_to_change)

13
['Col747', 'Col836', 'Col702', 'Col733', 'Col742', 'Col754', 'Col763', 'Col791', 'Col813', 'Col822', 'Col831', 'Col843', 'Col852']

In [ ]:
for col in columns_to_change:
    X[col] = X[col].apply(convert_to_float)
    XTest[col] = XTest[col].apply(convert_to_float)





* Now we can see that there are no any object data type.

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17521 entries, 0 to 17520
Columns: 2393 entries, Col3 to Col2397
dtypes: float64(846), int64(1547)
memory usage: 319.9 MB

In [ ]:
XTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20442 entries, 0 to 20441
Columns: 2393 entries, Col3 to Col2397
dtypes: float64(848), int64(1545)
memory usage: 373.2 MB

**Checking if there are any duplicate rows**

In [ ]:
duplicate_rows_in_train = X.duplicated()
duplicate_rows_in_test = XTest.duplicated()

print(f"Train data consists {sum(duplicate_rows_in_train)} duplicate rows")
print(f"Test data consists {sum(duplicate_rows_in_test)} duplicate rows")

Train data consists 1116 duplicate rows
Test data consists 1203 duplicate rows

In [ ]:
# Here y is nothing but "col2" which is target variable of our dataset
y[duplicate_rows_in_train]

1556     0
1557     0
3996     0
3997     0
4425     1
        ..
17465    0
17483    0
17498    0
17504    0
17505    0
Name: Col2, Length: 1116, dtype: int64

In [ ]:
# Here the code is for counting the Duplicate values in the target variable
y[duplicate_rows_in_train].value_counts(normalize=True)

0    0.884409
1    0.115591
Name: Col2, dtype: float64

In [ ]:
y[duplicate_rows_in_train].head(30)

1556     0
1557     0
3996     0
3997     0
4425     1
4881     1
5104     0
5438     0
5989     0
6525     0
6673     0
7994     0
8248     0
8585     0
9439     0
9915     0
10130    1
10164    0
10178    0
10188    0
10189    1
10217    0
10222    0
10223    1
10224    0
10225    0
10226    1
10227    0
10310    0
10320    0
Name: Col2, dtype: int64

In [ ]:
data_train.corr()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
Col2,1.000000,-0.030748,-0.027851,-0.030471,-0.030489,-0.028520,-0.030561,-0.000675,0.009056,-0.005278,...,0.010743,0.005708,0.003586,-0.003835,0.033681,0.033394,0.023931,0.002156,0.000963,-0.000036
Col3,-0.030748,1.000000,0.982237,0.900193,0.988359,0.982670,0.982962,-0.464821,-0.701978,-0.264779,...,-0.002670,0.002034,-0.001152,0.001850,-0.069133,-0.072543,-0.103986,-0.026519,-0.028209,-0.040184
Col4,-0.027851,0.982237,1.000000,0.921953,0.993567,0.994026,0.992919,-0.447950,-0.710775,-0.250169,...,0.000342,0.003531,0.001812,0.002934,-0.067155,-0.069008,-0.102781,-0.038453,-0.039823,-0.053991
Col5,-0.030471,0.900193,0.921953,1.000000,0.919360,0.906248,0.915298,-0.348940,-0.610845,-0.153207,...,-0.006211,-0.001801,-0.004862,-0.002794,-0.041949,-0.043769,-0.076711,-0.011324,-0.012808,-0.024583
Col6,-0.030489,0.988359,0.993567,0.919360,1.000000,0.987704,0.992882,-0.410729,-0.678968,-0.218232,...,-0.002630,0.001928,-0.001232,0.001879,-0.068222,-0.071328,-0.106441,-0.036374,-0.038529,-0.053627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Col2393,0.033394,-0.072543,-0.069008,-0.043769,-0.071328,-0.055124,-0.057961,0.095663,0.094135,0.070428,...,0.430621,0.372948,0.433682,0.378077,0.998087,1.000000,0.922617,0.562599,0.560360,0.486062
Col2394,0.023931,-0.103986,-0.102781,-0.076711,-0.106441,-0.081947,-0.086659,0.135436,0.136097,0.096402,...,0.367440,0.327546,0.366881,0.326182,0.917061,0.922617,1.000000,0.558842,0.561863,0.559381
Col2395,0.002156,-0.026519,-0.038453,-0.011324,-0.036374,0.001636,-0.002905,0.171525,0.126946,0.095300,...,0.165266,0.149724,0.169234,0.157177,0.563441,0.562599,0.558842,1.000000,0.998623,0.957110
Col2396,0.000963,-0.028209,-0.039823,-0.012808,-0.038529,0.000510,-0.004430,0.170037,0.126672,0.093626,...,0.164821,0.148556,0.168591,0.155680,0.559030,0.560360,0.561863,0.998623,1.000000,0.961784
Col2397,-0.000036,-0.040184,-0.053991,-0.024583,-0.053627,-0.008594,-0.014795,0.188906,0.144524,0.102982,...,0.119619,0.111804,0.119926,0.114510,0.482788,0.486062,0.559381,0.957110,0.961784,1.000000

In [ ]:
'''
Now I am Adding one more column into both the sets named "duplicate_row".
With the help of Boolean Datatype,Like if the Row in the dataset is duplicate then it Will be entered as TRUE
Where as if the row is not duplicate then it will be entered as FALSE

'''
X['duplicate_row'] = False #intially it is entered as False in Train Dataset
XTest['duplicate_row'] = False #intially it is entered as False Test Dataset

X.loc[duplicate_rows_in_train, 'duplicate_row'] = True #If it locates the row is duplicate then it will be entered as True in Train dataset
XTest.loc[duplicate_rows_in_test, 'duplicate_row'] = True #If it locates the row is duplicate then it will be entered as True in Test dataset

In [ ]:
X.head()

,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397,duplicate_row
0,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,9.114586e+03,3.043078e+04,...,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0,False
1,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,2.013518e+05,1.859404e+05,...,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0,False
2,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,9.368338e+06,1.113330e+07,...,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0,False
3,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,4.304848e+05,4.065539e+05,...,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0,False
4,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,3.473444e+06,3.262168e+06,...,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0,False

In [ ]:
XTest.head()

,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,...,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397,duplicate_row
0,8.167140e+04,8.614542e+04,7.532296e+04,7.532296e+04,1.125174e+05,1.002778e+05,2.038915e+04,3.053853e+04,8.395911e+04,8.138800e+04,...,0,0,0,44.0,44.0,23.0,41.0,41.0,36.0,False
1,-1.362824e+07,-4.493043e+06,-3.777257e+06,-4.493043e+06,-4.749764e+06,-4.749764e+06,1.147556e+07,1.147556e+07,1.272055e+07,1.272055e+07,...,1,2,2,1234.0,1234.0,680.0,154.0,153.0,86.0,False
2,1.302700e+06,1.341449e+06,1.240085e+06,1.341449e+06,1.477503e+06,1.477503e+06,3.904086e+05,3.904086e+05,4.979106e+05,4.979106e+05,...,0,0,0,33.0,24.0,19.0,3.0,1.0,1.0,False
3,1.932258e+05,1.454433e+05,1.929148e+05,1.454433e+05,1.318250e+04,1.318250e+04,8.650108e+04,8.650108e+04,5.896693e+03,5.896693e+03,...,0,0,0,8.0,8.0,3.0,7.0,7.0,3.0,False
4,3.913385e+05,1.987337e+05,1.703432e+05,1.987337e+05,3.046536e+05,3.046536e+05,2.528307e+05,2.528307e+05,3.034449e+05,3.034449e+05,...,0,0,0,7.0,7.0,7.0,6.0,6.0,5.0,False

In [ ]:
features = X.columns
duplicate_columns = set()
for i in range(len(features)):
    for j in range(i+1, len(features)):
        if np.all(X[features[i]] == X[features[j]]):
            print(features[i], features[j])
            duplicate_columns.add(features[j])

Col136 Col137
Col942 Col1344
Col943 Col1345
Col962 Col1352
Col963 Col1353
Col974 Col1066
Col974 Col1158
Col974 Col1250
Col974 Col1704
Col974 Col1796
Col974 Col1888
Col974 Col1980
Col975 Col1705
Col986 Col1302
Col987 Col1303
Col990 Col1082
Col991 Col1083
Col992 Col1084
Col992 Col1176
Col993 Col1085
Col1006 Col1310
Col1007 Col1311
Col1018 Col1110
Col1018 Col1202
Col1018 Col1748
Col1018 Col1840
Col1018 Col1932
Col1019 Col1111
Col1019 Col1203
Col1019 Col1251
Col1019 Col1295
Col1019 Col1749
Col1019 Col1841
Col1019 Col1933
Col1019 Col1981
Col1019 Col2025
Col1034 Col1434
Col1035 Col1435
Col1054 Col1442
Col1055 Col1443
Col1066 Col1158
Col1066 Col1250
Col1066 Col1704
Col1066 Col1796
Col1066 Col1888
Col1066 Col1980
Col1067 Col1159
Col1067 Col1797
Col1067 Col1889
Col1078 Col1392
Col1079 Col1393
Col1084 Col1176
Col1098 Col1400
Col1099 Col1401
Col1110 Col1202
Col1110 Col1748
Col1110 Col1840
Col1110 Col1932
Col1111 Col1203
Col1111 Col1251
Col1111 Col1295
Col1111 Col1749
Col1111 Col1841
Col1111 Col1933
Col1111 Col1981
Col1111 Col2025
Col1126 Col1524
Col1127 Col1525
Col1146 Col1532
Col1147 Col1533
Col1158 Col1250
Col1158 Col1704
Col1158 Col1796
Col1158 Col1888
Col1158 Col1980
Col1159 Col1797
Col1159 Col1889
Col1170 Col1482
Col1171 Col1483
Col1190 Col1490
Col1191 Col1491
Col1202 Col1748
Col1202 Col1840
Col1202 Col1932
Col1203 Col1251
Col1203 Col1295
Col1203 Col1749
Col1203 Col1841
Col1203 Col1933
Col1203 Col1981
Col1203 Col2025
Col1218 Col1614
Col1219 Col1615
Col1238 Col1622
Col1239 Col1623
Col1250 Col1704
Col1250 Col1796
Col1250 Col1888
Col1250 Col1980
Col1251 Col1295
Col1251 Col1749
Col1251 Col1841
Col1251 Col1933
Col1251 Col1981
Col1251 Col2025
Col1262 Col1572
Col1263 Col1573
Col1282 Col1580
Col1283 Col1581
Col1294 Col2024
Col1295 Col1749
Col1295 Col1841
Col1295 Col1933
Col1295 Col1981
Col1295 Col2025
Col1672 Col2074
Col1673 Col2075
Col1692 Col2082
Col1693 Col2083
Col1704 Col1796
Col1704 Col1888
Col1704 Col1980
Col1716 Col2032
Col1717 Col2033
Col1720 Col1812
Col1721 Col1813
Col1722 Col1814
Col1722 Col1906
Col1723 Col1815
Col1736 Col2040
Col1737 Col2041
Col1748 Col1840
Col1748 Col1932
Col1749 Col1841
Col1749 Col1933
Col1749 Col1981
Col1749 Col2025
Col1764 Col2164
Col1765 Col2165
Col1784 Col2172
Col1785 Col2173
Col1796 Col1888
Col1796 Col1980
Col1797 Col1889
Col1808 Col2122
Col1809 Col2123
Col1814 Col1906
Col1828 Col2130
Col1829 Col2131
Col1840 Col1932
Col1841 Col1933
Col1841 Col1981
Col1841 Col2025
Col1856 Col2254
Col1857 Col2255
Col1876 Col2262
Col1877 Col2263
Col1888 Col1980
Col1900 Col2212
Col1901 Col2213
Col1920 Col2220
Col1921 Col2221
Col1933 Col1981
Col1933 Col2025
Col1948 Col2344
Col1949 Col2345
Col1968 Col2352
Col1969 Col2353
Col1981 Col2025
Col1992 Col2302
Col1993 Col2303
Col2012 Col2310
Col2013 Col2311

In [ ]:
print("Number of duplicate columns:",len(duplicate_columns))

Number of duplicate columns: 101

In [ ]:
selected_features = [_ for _ in X.columns if _ not in duplicate_columns]
print("Selected_Features :",len(selected_features))

Selected_Features : 2293

In [ ]:
RANDOM_SEED = 1

In [ ]:
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import f1_score
import xgboost as xgb
import lightgbm as lgb
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe
from sklearn.model_selection import StratifiedKFold

In [ ]:
X_train, X_valid, y_train, y_valid = train_test_split(X[selected_features], y, random_state=RANDOM_SEED,test_size=0.2)

# Evaluation matrix

**F1_score matrix Evaluation**

In [ ]:
def score(params):
    try:

        print("Training with params: ",params)
        num_round = int(params['n_estimators'])
        del params['n_estimators']
        dtrain = xgb.DMatrix(X_train, label=y_train)
        dvalid = xgb.DMatrix(X_valid, label=y_valid)
        watchlist = [(dtrain, 'train'),(dvalid, 'eval')]
        gbm_model = xgb.train(params, dtrain, num_round,evals=watchlist,verbose_eval=False)
        predictions = gbm_model.predict(dvalid,ntree_limit=gbm_model.best_iteration + 1)
        predictions = (predictions >= 0.5).astype('int')
        score = 100*f1_score(y_valid, predictions, average='weighted')
        print("\tScore {0}\n\n".format(score))

        loss = 1 - score
        return {'loss': loss, 'status': STATUS_OK}

    except AssertionError as obj:
        loss = 1 - 0
        return {'loss': loss, 'status': STATUS_OK}

    except Exception as obj:
        loss = 1 - 0
        return {'loss': loss, 'status': STATUS_OK}

In [ ]:
def optimize(trials,max_evals,random_state=RANDOM_SEED):
    space = {
        'n_estimators': hp.quniform('n_estimators', 100, 300, 1),
        'eta': hp.quniform('eta', 0.025, 0.5, 0.025),
        'max_depth':  hp.choice('max_depth', np.arange(1, 7, dtype=int)),
        'min_child_weight': hp.quniform('min_child_weight', 1, 6, 1),
        'subsample': hp.quniform('subsample', 0.5, 1, 0.05),
        'gamma': hp.quniform('gamma', 0, 1, 0.05),
        'colsample_bytree': hp.quniform('colsample_bytree', 0.5, 1, 0.05),
        'scale_pos_weight': hp.quniform('scale_pos_weight', 1,4, 0.05),
        "reg_alpha": hp.quniform('reg_alpha', 0, 1, 0.05),
        "reg_lambda": hp.quniform('reg_lambda', 1, 5, 0.05),
        'eval_metric': 'logloss',
        'objective': 'binary:logistic',
        'nthread': 4,
        'booster': 'gbtree',
        'tree_method': 'exact',
        'silent': 1,
        'seed': random_state
    }
    best = fmin(score,
                space,
                algo=tpe.suggest,
                trials=trials,
                max_evals=max_evals)
    return best

In [ ]:
trials = Trials()
MAX_EVALS = 25

best_hyperparams = optimize(trials, MAX_EVALS)
print("The best hyperparameters are: ", "\n")
print(best_hyperparams)

Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.55, 'eta': 0.1, 'eval_metric': 'logloss', 'gamma': 0.15000000000000002, 'max_depth': 6, 'min_child_weight': 2.0, 'n_estimators': 123.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.30000000000000004, 'reg_lambda': 3.45, 'scale_pos_weight': 3.9000000000000004, 'seed': 1, 'silent': 1, 'subsample': 1.0, 'tree_method': 'exact'}
	Score 86.40285479357551


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.6000000000000001, 'eta': 0.17500000000000002, 'eval_metric': 'logloss', 'gamma': 0.9, 'max_depth': 1, 'min_child_weight': 5.0, 'n_estimators': 143.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.9, 'reg_lambda': 3.0, 'scale_pos_weight': 2.5, 'seed': 1, 'silent': 1, 'subsample': 0.65, 'tree_method': 'exact'}
	Score 87.23645841077888


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.75, 'eta': 0.25, 'eval_metric': 'logloss', 'gamma': 0.75, 'max_depth': 1, 'min_child_weight': 4.0, 'n_estimators': 132.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.5, 'reg_lambda': 1.1, 'scale_pos_weight': 2.0500000000000003, 'seed': 1, 'silent': 1, 'subsample': 0.6000000000000001, 'tree_method': 'exact'}
	Score 87.22278314773177


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.5, 'eta': 0.325, 'eval_metric': 'logloss', 'gamma': 0.8, 'max_depth': 2, 'min_child_weight': 6.0, 'n_estimators': 112.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.7000000000000001, 'reg_lambda': 4.55, 'scale_pos_weight': 2.25, 'seed': 1, 'silent': 1, 'subsample': 0.6000000000000001, 'tree_method': 'exact'}
	Score 86.82983843995933


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.75, 'eta': 0.2, 'eval_metric': 'logloss', 'gamma': 0.2, 'max_depth': 5, 'min_child_weight': 4.0, 'n_estimators': 279.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.05, 'reg_lambda': 4.55, 'scale_pos_weight': 1.25, 'seed': 1, 'silent': 1, 'subsample': 0.65, 'tree_method': 'exact'}
	Score 86.42313839207534


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.8, 'eta': 0.25, 'eval_metric': 'logloss', 'gamma': 0.05, 'max_depth': 1, 'min_child_weight': 3.0, 'n_estimators': 137.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.9, 'reg_lambda': 1.1, 'scale_pos_weight': 3.8000000000000003, 'seed': 1, 'silent': 1, 'subsample': 0.9, 'tree_method': 'exact'}
	Score 86.8776826679359


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.9, 'eta': 0.5, 'eval_metric': 'logloss', 'gamma': 0.7000000000000001, 'max_depth': 4, 'min_child_weight': 3.0, 'n_estimators': 298.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.65, 'reg_lambda': 4.1000000000000005, 'scale_pos_weight': 3.5, 'seed': 1, 'silent': 1, 'subsample': 0.65, 'tree_method': 'exact'}
	Score 85.88869838434469


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.8, 'eta': 0.25, 'eval_metric': 'logloss', 'gamma': 0.1, 'max_depth': 1, 'min_child_weight': 4.0, 'n_estimators': 283.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.7000000000000001, 'reg_lambda': 2.85, 'scale_pos_weight': 3.4000000000000004, 'seed': 1, 'silent': 1, 'subsample': 0.8500000000000001, 'tree_method': 'exact'}
	Score 86.52673562569802


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.65, 'eta': 0.45, 'eval_metric': 'logloss', 'gamma': 0.8500000000000001, 'max_depth': 2, 'min_child_weight': 4.0, 'n_estimators': 234.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.9500000000000001, 'reg_lambda': 4.95, 'scale_pos_weight': 2.2, 'seed': 1, 'silent': 1, 'subsample': 0.8500000000000001, 'tree_method': 'exact'}
	Score 86.9942817220791


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.6000000000000001, 'eta': 0.30000000000000004, 'eval_metric': 'logloss', 'gamma': 0.75, 'max_depth': 1, 'min_child_weight': 5.0, 'n_estimators': 230.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.5, 'reg_lambda': 2.0500000000000003, 'scale_pos_weight': 2.6500000000000004, 'seed': 1, 'silent': 1, 'subsample': 0.8500000000000001, 'tree_method': 'exact'}
	Score 86.95950605394857


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.6000000000000001, 'eta': 0.30000000000000004, 'eval_metric': 'logloss', 'gamma': 0.75, 'max_depth': 6, 'min_child_weight': 5.0, 'n_estimators': 253.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.35000000000000003, 'reg_lambda': 1.7000000000000002, 'scale_pos_weight': 2.95, 'seed': 1, 'silent': 1, 'subsample': 0.65, 'tree_method': 'exact'}
	Score 86.67108663116403


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.65, 'eta': 0.05, 'eval_metric': 'logloss', 'gamma': 0.6000000000000001, 'max_depth': 4, 'min_child_weight': 2.0, 'n_estimators': 297.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.15000000000000002, 'reg_lambda': 1.7000000000000002, 'scale_pos_weight': 2.4000000000000004, 'seed': 1, 'silent': 1, 'subsample': 0.6000000000000001, 'tree_method': 'exact'}
	Score 86.9885524072438


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.75, 'eta': 0.25, 'eval_metric': 'logloss', 'gamma': 0.65, 'max_depth': 4, 'min_child_weight': 2.0, 'n_estimators': 181.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.8500000000000001, 'reg_lambda': 1.25, 'scale_pos_weight': 3.25, 'seed': 1, 'silent': 1, 'subsample': 0.6000000000000001, 'tree_method': 'exact'}
	Score 86.50728906233874


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.75, 'eta': 0.125, 'eval_metric': 'logloss', 'gamma': 0.8, 'max_depth': 2, 'min_child_weight': 3.0, 'n_estimators': 208.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.9, 'reg_lambda': 4.45, 'scale_pos_weight': 3.75, 'seed': 1, 'silent': 1, 'subsample': 0.75, 'tree_method': 'exact'}
	Score 86.82305742832092


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.9, 'eta': 0.07500000000000001, 'eval_metric': 'logloss', 'gamma': 0.65, 'max_depth': 3, 'min_child_weight': 4.0, 'n_estimators': 293.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.30000000000000004, 'reg_lambda': 4.45, 'scale_pos_weight': 1.25, 'seed': 1, 'silent': 1, 'subsample': 0.9, 'tree_method': 'exact'}
	Score 86.69436391693887


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.8500000000000001, 'eta': 0.375, 'eval_metric': 'logloss', 'gamma': 0.5, 'max_depth': 5, 'min_child_weight': 2.0, 'n_estimators': 295.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.35000000000000003, 'reg_lambda': 2.5500000000000003, 'scale_pos_weight': 1.6500000000000001, 'seed': 1, 'silent': 1, 'subsample': 0.9500000000000001, 'tree_method': 'exact'}
	Score 86.2328051873802


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.8, 'eta': 0.05, 'eval_metric': 'logloss', 'gamma': 0.1, 'max_depth': 4, 'min_child_weight': 5.0, 'n_estimators': 256.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.5, 'reg_lambda': 2.5500000000000003, 'scale_pos_weight': 4.0, 'seed': 1, 'silent': 1, 'subsample': 0.55, 'tree_method': 'exact'}
	Score 86.79704146716752


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.9500000000000001, 'eta': 0.375, 'eval_metric': 'logloss', 'gamma': 0.45, 'max_depth': 3, 'min_child_weight': 5.0, 'n_estimators': 134.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.65, 'reg_lambda': 1.55, 'scale_pos_weight': 2.0, 'seed': 1, 'silent': 1, 'subsample': 0.75, 'tree_method': 'exact'}
	Score 86.34442018835405


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.55, 'eta': 0.17500000000000002, 'eval_metric': 'logloss', 'gamma': 0.25, 'max_depth': 1, 'min_child_weight': 4.0, 'n_estimators': 240.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.55, 'reg_lambda': 4.8500000000000005, 'scale_pos_weight': 3.5500000000000003, 'seed': 1, 'silent': 1, 'subsample': 0.5, 'tree_method': 'exact'}
	Score 86.69062449762794


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.55, 'eta': 0.45, 'eval_metric': 'logloss', 'gamma': 0.75, 'max_depth': 2, 'min_child_weight': 1.0, 'n_estimators': 208.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.4, 'reg_lambda': 4.2, 'scale_pos_weight': 2.1, 'seed': 1, 'silent': 1, 'subsample': 0.6000000000000001, 'tree_method': 'exact'}
	Score 85.94781464405912


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.7000000000000001, 'eta': 0.17500000000000002, 'eval_metric': 'logloss', 'gamma': 1.0, 'max_depth': 1, 'min_child_weight': 6.0, 'n_estimators': 167.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.8, 'reg_lambda': 3.6, 'scale_pos_weight': 1.7000000000000002, 'seed': 1, 'silent': 1, 'subsample': 0.7000000000000001, 'tree_method': 'exact'}
	Score 87.14583981324388


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.7000000000000001, 'eta': 0.15000000000000002, 'eval_metric': 'logloss', 'gamma': 1.0, 'max_depth': 1, 'min_child_weight': 6.0, 'n_estimators': 159.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.15000000000000002, 'reg_lambda': 3.5, 'scale_pos_weight': 2.8000000000000003, 'seed': 1, 'silent': 1, 'subsample': 0.5, 'tree_method': 'exact'}
	Score 87.31461961069783


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.7000000000000001, 'eta': 0.125, 'eval_metric': 'logloss', 'gamma': 1.0, 'max_depth': 1, 'min_child_weight': 6.0, 'n_estimators': 157.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.15000000000000002, 'reg_lambda': 3.5, 'scale_pos_weight': 2.8000000000000003, 'seed': 1, 'silent': 1, 'subsample': 0.5, 'tree_method': 'exact'}
	Score 87.51977826970406


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.7000000000000001, 'eta': 0.125, 'eval_metric': 'logloss', 'gamma': 1.0, 'max_depth': 1, 'min_child_weight': 6.0, 'n_estimators': 164.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.0, 'reg_lambda': 3.6500000000000004, 'scale_pos_weight': 2.9000000000000004, 'seed': 1, 'silent': 1, 'subsample': 0.5, 'tree_method': 'exact'}
	Score 87.44944354965456


Training with params:
{'booster': 'gbtree', 'colsample_bytree': 0.7000000000000001, 'eta': 0.1, 'eval_metric': 'logloss', 'gamma': 0.9500000000000001, 'max_depth': 5, 'min_child_weight': 6.0, 'n_estimators': 188.0, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.0, 'reg_lambda': 3.9000000000000004, 'scale_pos_weight': 3.0, 'seed': 1, 'silent': 1, 'subsample': 0.5, 'tree_method': 'exact'}
	Score 86.91732538985639


100%|██████████| 25/25 [1:02:35<00:00, 150.23s/it, best loss: -86.51977826970406]
The best hyperparameters are:

{'colsample_bytree': 0.7000000000000001, 'eta': 0.125, 'gamma': 1.0, 'max_depth': 0, 'min_child_weight': 6.0, 'n_estimators': 157.0, 'reg_alpha': 0.15000000000000002, 'reg_lambda': 3.5, 'scale_pos_weight': 2.8000000000000003, 'subsample': 0.5}

In [ ]:
best_hyperparams

{'colsample_bytree': 0.7000000000000001,
 'eta': 0.125,
 'gamma': 1.0,
 'max_depth': 0,
 'min_child_weight': 6.0,
 'n_estimators': 157.0,
 'reg_alpha': 0.15000000000000002,
 'reg_lambda': 3.5,
 'scale_pos_weight': 2.8000000000000003,
 'subsample': 0.5}

In [ ]:
param = best_hyperparams
num_round = int(param['n_estimators'])
del param['n_estimators']

In [ ]:
num_splits = 5
skf = StratifiedKFold(n_splits= num_splits, random_state= RANDOM_SEED, shuffle=True)

In [ ]:
dxtest = xgb.DMatrix(XTest[selected_features])

In [ ]:
y_test_pred = np.zeros((XTest[selected_features].shape[0], 1))
print(y_test_pred.shape)
y_valid_scores = []

X_TRAIN = X[selected_features].copy()
Y_TRAIN = y.copy()
X_TRAIN = X_TRAIN.reindex()
Y_TRAIN = Y_TRAIN.reindex()

fold_cnt = 1
for train_index, test_index in skf.split(X_TRAIN,Y_TRAIN):
    print("FOLD .... ",fold_cnt)
    fold_cnt += 1

    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_valid = X_TRAIN.iloc[train_index], X_TRAIN.iloc[test_index]
    y_train, y_valid = Y_TRAIN.iloc[train_index], Y_TRAIN.iloc[test_index]

    dtrain = xgb.DMatrix(X_train, label=y_train)
    dvalid = xgb.DMatrix(X_valid, label=y_valid)

    evallist = [(dtrain, 'train'), (dvalid, 'eval')]

    # Training xgb model
    bst = xgb.train(param, dtrain, num_round, evallist, verbose_eval=50)

    # Predict Validation
    y_pred_valid = bst.predict(dvalid, ntree_limit=bst.best_iteration + 1)
    y_valid_scores.append(f1_score(y_valid, (y_pred_valid >= 0.5).astype(int), average='weighted'))

    # Predict Test
    y_pred = bst.predict(dxtest, ntree_limit=bst.best_iteration+1)

    y_test_pred += y_pred.reshape(-1,1)

y_test_pred /= num_splits

(20442, 1)
FOLD ....  1
TRAIN: [    0     1     2 ... 17518 17519 17520] TEST: [   10    12    19 ... 17508 17510 17511]
[0]	train-rmse:0.474681	eval-rmse:0.474698
[50]	train-rmse:0.330925	eval-rmse:0.331133
[100]	train-rmse:0.329779	eval-rmse:0.329989
[150]	train-rmse:0.330285	eval-rmse:0.330486
[156]	train-rmse:0.330837	eval-rmse:0.331033
FOLD ....  2
TRAIN: [    1     4     7 ... 17518 17519 17520] TEST: [    0     2     3 ... 17503 17513 17514]
[0]	train-rmse:0.474029	eval-rmse:0.474024
[50]	train-rmse:0.330941	eval-rmse:0.330891
[100]	train-rmse:0.332066	eval-rmse:0.332014
[150]	train-rmse:0.330841	eval-rmse:0.330784
[156]	train-rmse:0.330062	eval-rmse:0.33001
FOLD ....  3
TRAIN: [    0     1     2 ... 17515 17516 17519] TEST: [   20    25    26 ... 17517 17518 17520]
[0]	train-rmse:0.474512	eval-rmse:0.474516
[50]	train-rmse:0.331402	eval-rmse:0.331352
[100]	train-rmse:0.330894	eval-rmse:0.330851
[150]	train-rmse:0.331182	eval-rmse:0.33113
[156]	train-rmse:0.330921	eval-rmse:0.330864
FOLD ....  4
TRAIN: [    0     2     3 ... 17517 17518 17520] TEST: [    1     4     9 ... 17512 17516 17519]
[0]	train-rmse:0.475038	eval-rmse:0.475031
[50]	train-rmse:0.330708	eval-rmse:0.330652
[100]	train-rmse:0.331704	eval-rmse:0.331653
[150]	train-rmse:0.331102	eval-rmse:0.33105
[156]	train-rmse:0.331316	eval-rmse:0.331263
FOLD ....  5
TRAIN: [    0     1     2 ... 17518 17519 17520] TEST: [    7    11    14 ... 17500 17501 17515]
[0]	train-rmse:0.47485	eval-rmse:0.474842
[50]	train-rmse:0.330549	eval-rmse:0.330502
[100]	train-rmse:0.331168	eval-rmse:0.33112
[150]	train-rmse:0.330308	eval-rmse:0.330257
[156]	train-rmse:0.330095	eval-rmse:0.330046

In [ ]:
y_valid_scores

[0.8516003554654963,
 0.851971373375483,
 0.851971373375483,
 0.851971373375483,
 0.851971373375483]

In [ ]:
print("Average validation_score: ",np.mean(y_valid_scores))

Average validation_score:  0.8518971697934857

In [ ]:
output = data_test[['Col1']].copy()
output['Col2'] = (y_test_pred >= 0.5).astype(int)

In [ ]:
output.head()

        Col1  Col2
0  RIGD58ZWD     0
1  RIH660YDS     0
2  RIH660Q96     0
3  RIYDO15W1     0
4  RIYBGC1ZD     0

In [ ]:
output['Col2'].value_counts()/output.shape[0] * 100

0    100.0
Name: Col2, dtype: float64

In [ ]:
output.to_csv("./predict_hdfc_xgb_oof.csv", index=False)